<a href="https://colab.research.google.com/github/adjoel/IgboICT/blob/master/HelloWorld_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Put anything inside a multi-line comment.

In [ ]:
# Answer Here
'''
This is a python class that will last for 100 days. 
So for the next 100 days days I will be learning how to code in python
with my tutor Mr Nwachukwunemelumma
'''

#2. Create a variable x, assign it a value of 10, and print "The time is 10pm". In the print statement, substitute 10 in the output with x.

In [11]:
# Answer Here
x = 10
print(f"{x}pm")

10pm

#3. Print "hello world" on two lines with one print statement

In [13]:
# Answer Here
print('Hello\nWorld')

Hello
World

#4. Use the input() function to accept a value from user, assign it to a variable called x, and print "I accepted x". Substitute x with the value from the input function

In [16]:
# Answer Here
x = input('enter the amount you accepted: ')
print(f'I accepted ${x}')

enter the amount you accepted: 100
I accepted $100

In [20]:
# Explain indentation in Python
'''
Indentation is a way of telling python interprter that a group of code 
belong to a particular block of code
Example
'''
if 5 < 2:
  print('How come?')
else:
  print('Ok you are right')

Ok you are right

## 5. Casting and concatenation

In [27]:
# cast 
a  = '1.0' # to int
d = 20 # to float
c = 3.0 # to str

# Answers
a = int(float(a))
d = float(d)
c = str(c)

print(type(a))
print(type(d))
print(type(c))

h = 'hello'
w = 'world'
# concatenate them together

# Answer
print(h + " "+ w)

a = 10
b = '10'
# concatenate them together
print(a, b)

<class 'int'>
<class 'float'>
<class 'str'>
hello world
10 10

## 6. Variables

In [ ]:
# Give me 3 invalid variable names and explain why they are invalid
8 = "python"
3name = 8
non local = "hello world"